<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.thegutuproject.pizzashop.domain.OrderEntry" alias="OrderEntry"/>
        <typeAlias type="com.thegutuproject.pizzashop.domain.OrderLog" alias="OrderLog"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/pizza_shop"/>
                <property name="username" value="admin"/>
                <property name="password" value="testpassword"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/thegutuproject/pizzashop/db/mapper/OrderEntryDbMapper.xml" />
        <mapper resource="com/thegutuproject/pizzashop/db/mapper/OrderLogDbMapper.xml" />
    </mappers>

</configuration>