<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <!--<context:property-placeholder location="classpath:src/resources/config/application.properties" />-->
    <context:component-scan base-package="com.thegutuproject.pizzashop.*" />

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/pizza_shop" />
        <property name="username" value="admin" />
        <property name="password" value="testpassword" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:com/thegutuproject/pizzashop/db/mapper/*.xml" />
    </bean>

    <bean id="orderEntryDbMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.thegutuproject.pizzashop.db.mapper.OrderEntryDbMapper" />
    </bean>
    <bean id="orderLogDbMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.thegutuproject.pizzashop.db.mapper.OrderLogDbMapper"/>
    </bean>

    <bean class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles" value="./resources/dozer-bean-mappings.xml"/>
    </bean>






</beans>